{% extends 'base.html' %}
{% load static %}

{% block title %}Product details{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 my-5 text-center  " >
            <h1>Customer Registration</h1>
            <hr>


            <form action="" method="POST" novalidate class="shadow p-5" style="background-color: rgb(221,208,200);border-radius:10px">
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}
                <br><input type="submit" value="submit" class="btn btn-dark"><br><br>

                <div class="text-center text-primary fw-bold">
                    <small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now</a></small>
                </div>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}" role="alert">
                        {{msg}}
                    </div>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<br><br><br>
    
{% endblock %}