{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block carousel %}
<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel"  >
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="{% static 'images/XM4.jpg'%}" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/Sony-WH-1000XM4-4-of-10.jpg'%}" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="{% static 'images/20230822_121545.jpg'%}" class="d-block w-100" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock%}

{% block content %} <body >
    <div class="container">    
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, incidunt.</p>
</div>
</body>
    
{% endblock %}
