{% extends 'base.html' %}
{% load static %}

{% block title %}Category{% endblock %} 
{% block content %}
<div class="container">
    <div class="row flex justify-content-between">
        <div class="col-lg-5 nt-5">
            <img src="{{product.product_img.url}}" alt="" class="image col-xs-6 col-sm-12 col-lg-12 mt-5 text-sm-center  ">
        </div>
        <div class="col-lg-5 mt-5 " style="font-size:22px">
            <h1 >{{product.title}}</h1>
            <p>{{product.description}}</p>
            <h4 >Rs.{{product.discounted_price}} /-</h4>
            <small class="text-decoration-line-through text-muted"><del class="text-danger">Rs.{{product.selling_price}}</del></small>
            <br><br>
            <h3>Product Features</h3>
            <p>{{product.composition}}</p>
            <br>
            <div class="" >
                
                <button type="submit" class="add-cart btn btn-danger shadow px-5 py-2" pid="{{product.id}}"id="addcart">Add to Cart</button>
                
                <div class="btn btn-dark shadow px-5 py-2"><a href="#" class="text-decoration-none text-white">Buy Now</a></div>
                {% if wish %}
                    <a href="" pid={{product.id}} class="minus-wishlist btn mx-3"><i class="fa fa-heart fa-lg text-danger shadow" ></i></a>
                {% else %}
                    <a href="" pid={{product.id}} class="plus-wishlist btn mx-3"><i class="fa fa-heart fa-lg text-success shadow" ></i></a>
                {% endif %}
            </div>
            
            {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}